body {
  min-height: 800px;
  border: 8px solid black;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-end;

  /* flex-wrap: wrap;
  align-content: center;
 */
}

.box {
  height: 200px;
  width: 200px;
  background-color: #0071ff;
  font-size: 40pt;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 1; */
  /* flex-grow: 1;
  max-width: 300px; */

  flex-shrink: 1;
  min-width: 100px;
}

.box-1 {
  margin-right: auto;
}

@media (max-width: 575px) {
  body {
    flex-wrap: wrap;
  }
}
